# Line Messaging API -------------
line-bot-sdk>=3.5.0

# Webhook ------------------------
flask>=3.0.0
werkzeug>=0.15.4
gunicorn

# Tools --------------------------
python-dotenv>=1.0.0

# Google Cloud API ---------------
google-cloud-dialogflow>=2.25.0
google-api-python-client>=2.104.0

# MySQL API ----------------------
mysql-connector-python==8.1.0

# Yolov5 ------------------------------------
Cython
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python>=4.1.1
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
torch>=1.7.0
torchvision>=0.8.1
tqdm>=4.41.0
thop

# Plotting ------------------------------------
pandas>=1.1.4
seaborn>=0.11.0
